* {
    padding: none;
    margin: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 8px;
    list-style: none;
}

body {
    width: 100%;
    min-height: 60vh;
    background-color: rgba(243,243,243);
}

.instagramWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.instagramPhone img{
    width: auto;
    height: 350px;
}

.group {
    border: 1px solid rgba(128, 128, 128, 0.432);
    padding: 20px;
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    width: 220px;
}
.group img {
    width: auto;
    height: 30px;
    margin-bottom: 20px;
}

.group input {
    width: 180px;
    height: 30px;
    margin: 3px 0;
    background-color: rgba(243,243,243);
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.432);
    border-radius: 3px;
    color: gray;
}

.group button {
    background-color: #0094f66b;
    width: 180px;
    height: 25px;
    border-radius: 3px;
    border: none;
    color: #fff;
    margin-top: 10px;
}
.facebook {
    display: flex;
    align-items: center;
    color: #385185;
}

.facebook img {
    width: auto;
    height: 10px;
    margin: 5px;
}
.facebook p {
    font-size: 10px;
}

.secondGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
}
.secondGroup a {
    margin: 5px;
    color: #0095f6;
    font-weight: bold;
}

.getApp {
    text-align: center;
    margin-top: 10px;
}
.getApp .lojas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.getApp .lojas a img{
    width: auto;
    height: 25px;
    margin: 5px;
}

.footer {
    margin-top: 80px;
    align-content: flex-end;
}

.footer ul, .copyright{
    display: flex;
    justify-content: center;
}

.footer ul li {
    margin: 0 8px;
}